<h3><i class="line chart icon"></i>MyTweet Statistics</h3>
<section class="ui raised segment">
  <div class="ui three statistics">
    <div class="statistic">
      <div class="value">
        <i class="users icon"></i>
      </div>
      <div class="label">
        {{totalUsers}} Users
      </div>
    </div>
    <div class="statistic">
      <div class="value">
        <i class="twitter icon"></i>
      </div>
      <div class="label">
        {{totalTweets}} Total Tweets
      </div>
    </div>
    <div class="statistic">
      <div class="value">
        <i class="calculator icon"></i>
      </div>
      <div class="label">
        Average {{averageTweets}} Tweets <br>
        per User
      </div>
    </div>
  </div>
</section>