<nav class="ui inverted menu">
  <header class="header item"> MyTweet Admin </header>
  <div class="right menu">
    <a id="adminhome" class= "item" href="/adminhome"> Home </a>
    <a id="logout" class= "item" href="/logout"> Logout </a>
  </div>
</nav>

<script>
  $("#{{_id}}").addClass("active item");
</script>