<nav class="ui inverted menu">
  <header class="header item"> MyTweet </header>
  <div class="right menu">
    <a id="home"   class= "item" href="/home"> Tweet </a>
    <a id="usertimeline" class= "item" href="/usertimeline"> My Timeline </a>
    <a id="timeline" class= "item" href="/timeline"> Timeline </a>
    <a id="settings" class= "item" href="/settings"> Settings</a>
    <a id="logout" class= "item" href="/logout"> Logout </a>
  </div>
</nav>

<script>
  $("#{{_id}}").addClass("active item");
</script>