<section class="ui raised segment">
  <div class="ui two column center aligned middle aligned grid segment">
    <div class="column">
      <img src="images/timeline.jpg" class="ui centered medium image">
    </div>
    <div class="column">
      <table class="ui very basic table">
        <thead>
          <tr>
            <th> Tweets </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> {{tweet}} </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>