<section class="ui raised segment">
  <div class="ui two column center aligned middle aligned grid segment">
    <div class="column">
      <form action="/tweet" method="POST">
        <div class="text">MyTweet</div>
        <textarea class="message" rows="4" cols="40" name="tweet" maxlength="140"></textarea>
        <br>
        <span class="countdown"></span>
        <br>
        <button class="ui blue submit button"> Tweet </button>
      </form>
    </div>
    <div class="column">
      <img src="images/tweet.jpg" class="ui centered medium image">
    </div>
  </div>
</section>

<!-- https://stackoverflow.com/questions/2136647/character-countdown-like-on-twitter -->
<script>
  function updateCountdown() {
    let remaining = 140 - jQuery('.message').val().length;
    jQuery('.countdown').text(remaining + ' characters remaining.')
  }

  jQuery(document).ready(function($) {
    updateCountdown();
    $('.message').change(updateCountdown);
    $('.message').keyup(updateCountdown);
  });
</script>