<section class="ui raised segment">
  <div class="ui two column center aligned middle aligned grid segment">
    <div class="column">
      <h1 align="center">My Timeline</h1>
      <img src="images/my-timeline.png" class="ui centered medium image">
    </div>
    <div class="column">
      <table class="ui very basic table">
        <thead>
        <tr>
          <th> Tweet </th>
          <th width="200"> Delete </th>
        </tr>
        </thead>
        <tbody>
        {{#each tweets}}
          <tr>
            <td> {{tweet}}
              <div class="metadata">
                <div class="date"><i class="wait icon"></i>{{date}}</div>
              </div>
            </td>
            <td> <a href="/deletetweet/{{_id}}"><i class="large red trash icon"></i></a></td>
          </tr>
        {{/each}}
        </tbody>
        <tfoot>
        <tr>
          <td colspan="2">
            <a href="/deletealltweets">
              <button class="ui tiny red right floated button">Delete All Tweets</button>
            </a>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</section>