<h3><i class="world icon"></i>MyTweet Users</h3>
<table class="ui single line table">
  <tbody>
  <div class="ui relaxed divided list">
    {{#each users}}
      <tr>
        <td>
          <div class="item">
            <div class="content">
              <i class="user icon"></i><a href="/adminviewuser/{{id}}">{{firstName}} {{lastName}}</a>
              <a class="right aligned" href="/admindeleteuser/{{id}}"><i class="large red trash icon"></i></a>
            </div>
          </div>
        </td>
      </tr>
    {{/each}}
  </div>
  </tbody>
</table>