<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">

<table class="ui single line table" id="myTable">
  <tbody>
  <div class="ui relaxed divided list">
    {{#each users}}
      <tr>
        <td>
          <div class="item">
            <div class="content">
              <i class="user icon"></i><a href="/userviewuser/{{id}}">{{firstName}} {{lastName}}</a>
            </div>
          </div>
        </td>
      </tr>
    {{/each}}
  </div>
  </tbody>
</table>

<script src="js/search.js"></script>