{{> adminmenu }}

<section class="ui raised segment">
  <div class="ui grid">
    <div class="six wide column">
      {{> profilecard }}
    </div>

    <div class="ten wide column">
      {{> admintweetlist }}
    </div>
  </div>
</section>
