{{> welcomemenu }}

<section class="ui two column center aligned middle aligned grid segment">
  <div class="ui column">
    <img src="images/logo.jpg" class="ui centered medium image">
  </div>
  <div class="ui column">
    <h1 class="ui header">
      Welcome to MyTweet
    </h1>
    <p> Connect with your friends - and other fascinating people. Get in the moment
      updates on the things that interest you.</p>
  </div>
</section>
