{{> mainmenu }}

<section class="ui raised segment">
  <div class="ui grid">
    <div class="six wide column">
      {{> profilecard }}
        <a href="/follow/{{user.id}}"><button class="ui button"><i class="medium add user icon"></i>Follow</button></a>
        <a href="/unfollow/{{user.id}}"><button class="ui button"><i class="medium remove user icon"></i>Unfollow</button></a>
    </div>
    <div class="ten wide column">
      {{> otherusertweets }}
    </div>
  </div>
</section>
